<div id="header">
  <div id="logo">
    <a href="/index"><img
        src="logo.png"
        alt="LOGO"
        height="100"
        width="200"
      /></a>
  </div>
  <div id="navigation">
    {{> navigation_bar}}
  </div>
</div>