<ul class="navigation">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/travel">Travel</a>
  </li>
  <li>
    <a href="/rooms">Rooms</a>
  </li>
  <li>
    <a href="">Meals</a>
  </li>
  <li>
    <a href="">News</a>
  </li>
  <li>
    <a href="">About</a>
  </li>
  <li>
    <a href="">Contact</a>
  </li>
</ul>