<div class="row">
  <div class="col-12 col-md-8">
    <h2>Login</h2>
    <form (ngSubmit)="onLoginSubmit(evt)">
      <div role="alert" *ngIf="formErrors" class="alert alert-danger">
        {{ formError }}
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="email"
          [(ngModel)]="credentials.email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="password"
          [(ngModel)]="credentials.password"
        />
      </div>
      <button type="submit" role="button" class="btn-btnprimary">
        Sign In
      </button>
      <button
        type="submit"
        role="button"
        class="btn-btnprimary"
        (click)="registerUser()"
      >
        Register
      </button>
    </form>
  </div>
</div>
